.section {
  display: flex;
  height: fit-content;
  margin: 0 auto;
  justify-content: center;
}

.typedText {
  font-size: 3rem;
  font-weight: bold;
}

.link {
  color: var(--color);
  padding: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.asideSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary);
  border-radius: 0.4rem;
  width: 35%;
  height: 80vh;
  display: none;
}

.categorySectionH2 {
  border-bottom: white solid 1px;
}

.asideLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-bottom: var(--background) solid 1px;
  height: inherit;
  color: var(--color);
}

.productSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.productPics {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--secondary) 2px;
  margin: 10px;
  background-color: var(--background);
  min-height: 80px;
  min-width: 130px;
  max-width: 300px;
}

@media screen and (max-width: 768px) {
  .typedText {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
  }
}

.HiddenLogo {
  display: none;
}

@media (max-width: 620px) {
  .HiddenLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .typedText {
    font-size: 1.24rem;
  }
}
