.nav {
	position: relative;
	width: 100%;
	padding: 0;
	display: block;
	a {
		color: white;
	}
}
.menuDiv {
	height: 2.5rem;
	padding: 0;
	margin-inline: 0.5rem;
	margin-block: 0.25rem;
}
.menuButton {
	border: 0;
	background-color: var(--primary);
	color: white;
	font-size: 1.2rem;
	height: 2.5rem;
	width: 4rem;

}
.menu {
	width: 15rem;
	position: absolute;
	bottom: 0.25rem;
	left: 0.5rem;
	transform: translateY(100%);
	list-style: none;
	display: flex;
	flex-direction: column;
	background-color: var(--secondary);
}
.menuItems {
	font-size: 1.4rem;
	width: 100%;
}
.menuLink {
	display: inline-block;
	width: 100%;
	padding-inline: 0.75rem;
	padding-block: 0.75rem;
}