.NavBar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary);
	padding: 1rem;
	border-radius: 0.4rem;
	width: 100%;
}

.wraper {
	display: flex;
	justify-content: end;
}

.link {
	color: var(--color);
	padding: 1rem;
}

.linkCategories {
	color: black;
	padding: 1rem;
	padding-left: 0;
}

.navDropdown {
	width: 15vw;
	background-color: var(--primary);
	border-bottom-right-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	overflow: hidden;
	position: absolute;
	top: 6;
	right: 0;
	z-index: 10;
	margin: 0.4rem;
}

.linkCategories:hover .navDropdown {
	max-height: max-content;
}

.linkDropdown {
	display: flex;
	padding: 1rem;
	color: white;
	width: fit-content;
}

@media screen and (max-width: 768px) {
	.navDropdown {
		width: 20vw;
	}
}

@media (max-width: 400px) {
	.wraper {
		margin: 0 auto;
	}
}
