/* Formulär */
.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* .inputLabel {
	
} */

/* .pLabel {
	
} */

.pError {
	font-size: 0.6rem;
	color: red;
}

.select {
	border: 1px solid grey;
	background-color: white;
	padding-inline: 0.75rem;
	padding-block: 0.5rem;
	font-size: 1rem;
	width: 50%;
}

/* Storlekar */
.stockQuantitySection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 3rem;
}
.sizeLabels {
	text-transform: uppercase;
	width: 50%;
}

.pSize {
	padding-inline: 0.25rem;
}
/* Huvudrubrik */
.h4 {
	margin-block: 1rem;
	padding-inline: 2rem;
}

.pSizeError {
	font-size: 0.8rem;
	color: red;
}